 @using Ecommerce.Models
@model List<Produto>

@{
    DateTime data = ViewBag.Data;
}
<div>
    <h1>Gerenciamento de Produtos</h1>

    <table class="table table-hover">
        <tr class="table-default">
            <th>Nome do produto</th>
            <th>Descrição </th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Alterar</th>
            <th>Remover</th>
        </tr>

        @foreach (Produto Produtos in Model)
        {
            <tr class="table-active">
                <td>@Produtos.Nome</td>
                <td>@Produtos.Descricao</td>
                <td>@Produtos.Preco</td>
                <td>@Produtos.Categoria.NomeCategoria</td>
                <td>@Html.ActionLink("Alterar", "AlterarProduto", "Produto", new { id = Produtos.ProdutoId }, new { @class = "btn btn-outline-info" })</td>
                <td>@Html.ActionLink("Remover", "RemoverProduto", "Produto", new { id = Produtos.ProdutoId }, new { @class = "btn btn-outline-danger" })</td>
            </tr>
        }

    </table>
    <p>Dados atualizados às: <b>@data</b></p>
</div>