
@{
    Layout = null;
    DateTime data = ViewBag.Data;
    List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciamentos de Produtos</title>
</head>
<body>
    <h1>Gerenciamento de Produtos</h1>
    @* link padrao do html *@
    @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto</a>*@
    
   
    @* link padrao mvc | Razor |=  *@
    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")
    @* order do link mvc| Nome do link | Nome do arquivo pagina| referenciamento controller *@
    </br>
    </br>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
        table {
            border-spacing: 0px;
            border: medium solid black;
            width: 100%;
            text-align: center;
        }
        table tr:nth-child(even) {
            background-color: #eee;
        }
        table tr:nth-child(odd) {
            background-color: #fff;
        }
        table th {
            background-color: black;
            color: white;
        }
    </style>

    <div>
        <table>
            <tr>
                <th>Nome do produto</th>
                <th>Descrição </th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
            
                @foreach (Ecommerce.Models.Produto Produtos in produtos)
                {
                    <tr>
                        <td>@Produtos.Nome</td>
                        <td>@Produtos.Descricao</td>
                        <td>@Produtos.Preco</td>
                        <td>@Produtos.Categoria</td>
                    </tr>
                 }
            
        </table>
    </div>
    <br />
    <div>
        @data
    </div>
</body>
</html>