@model Ecommerce.Models.Compra
@using Ecommerce.Models



@{
    double total = ViewBag.Total;
    List<Ecommerce.Models.ItemVenda> itens = ViewBag.ItemVenda;
}


<h2>Resumo Compra</h2>

<div>


    @foreach (var item in itens)
    {
        <p>@item.Produto.Nome</p>

        <p>
            @item.Preco.ToString("C2")
            X
            @item.Qtde
        </p>

        <p>
            @{
                double subTotal = item.Qtde * item.Preco;
            }
            @subTotal.ToString("C2")
        </p>
    }

    <p>Total @total.ToString("C2")</p>
</div>

<div>
    @using (Html.BeginForm("CadastrarCompra", "Compra", FormMethod.Post, new { @class = "form-horizontal ", enctype = "multipart/form-data" }))
    {
        <fildeset>
            <legends>Dados Pessoais</legends>
        </fildeset>
        <div>
            <label> Nome do Cliente</label>
            @Html.TextBoxFor(Model => Model.NomeCliente)

            <label>Endereco do Cliente</label>
            @Html.TextBoxFor(Model => Model.EnderecoCliente)

            <label>Telefone do Cliente</label>
            @Html.TextBoxFor(Model => Model.TelCliente)




            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }




</div>

